body {
  background-color: #f9fafb;
}
.cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.inputDo {
  width: 400px;
  height: 30px;
  padding: 5px;
}
h1 {
  font-size: 60px;
  margin: 0;
  margin: 5px 10px;
  font-family: "Dancing Script";
}
.btnClick {
  height: 44px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.row {
  display: flex;
  width: 400px;
  gap: 5px;
  font-family: "Google Sans";
}
.card {
  background-color: #ffffff;
  width: 360px;
  height: 50px;
  color: #111827;
  padding: 5px 10px;
  border: 1px solid #b9bcc0;
}

.card.btnDone {
  text-decoration: line-through;
  background-color: #356a56;
  color: #b9bcc0;
}

h2 {
  margin: 0;
  margin-top: 10px;
  font-family: "Roboto";
}
button {
  background-color: #547792;
  border: none;
  color: #eff2f4;
  border-radius: 2px;
}
button:hover {
  background-color: #6c879c;
  color: white;
}
.delete {
  background-color: rgb(212, 97, 97);
}
.delete:hover {
  background-color: rgb(198, 63, 63);
}
